<!DOCTYPE html>
<html>
<head>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <header>

<div id="sidenavID" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closenav()">&times;</a>
  <ul>

  <a class="input-field", role = "button">
  <span class="fas fa-plus-circle iconfont">
  <%= button_to 'Create new session', {controller: 'group_sessions', action: 'new'} , :class => "menu-options" %>
  </span>
  </a>

 <br>

 <a class="input-field", role = "button">
 <span class="fas fa-minus-circle iconfont">
  <%= button_to 'Delete user account', user_path(@current_user.id), method: :delete , data: { confirm: 'Are you sure?' }, :class => "menu-options" %>
  </span>
  </a>

  <br>

  <a class="input-field", role = "button">
  <span class="fas fa-check-circle iconfont">
  <% if @current_user.status == "admin" %>
    <%= button_to 'Authenticate users', { controller: 'users', action: 'auth'} , :class => 'menu-options' %>
  <% end %>
  </span>
  </a>

  </ul>
  </div>


<a role="button">
<li class="dropdown-menu-left" onclick="opennav()"><i class="fas fa-bars"></i></li>
</a>

<script>
function opennav() {
  document.getElementById("sidenavID").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closenav() {
  document.getElementById("sidenavID").style.width = "0";
  document.getElementById("main").style.marginLeft = "0";
}
</script>


<div class="mm">Mentor Matcher</div>
  
<li class="dropdown no-arrow dropdown-menu-right header-user">
<a class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<span class="d-none d-lg-inline">
<p class="d-lg-inline uname"><%=@current_user.username%></p>
</span>
<i class="far fa-user user-icon"></i>
</a>

<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
<%= form_tag do %>
  <%= submit_tag("Profile", :class=>"logout", :name=>"submit", disabled: true) %>
<% end %> 

<div class="dropdown-divider"></div>
<%= form_tag(controller: 'sessions', :action => 'logout') do %>
	<%= submit_tag("Log Out", :class=>"logout", :name=>"submit") %>
<% end %> 
</div>
</li>

</header>
</head>

<body>
<div class="title">
<h1>Welcome, <%=@current_user.username%>.</h1>
</div>

<div>


<div>
<table class="rows-space">

<% @group_sessions.each do |group_session| %>
	<tr>
	<td class="auth-user-view">	
	<li><%= group_session.subject %></li>
	<li><%= group_session.schedule %></li>
	</td>
	<td>
	<li><%= group_session.venue %></li>
	<li><%= group_session.topic %></li>
	</td>
	</tr>
<% end %>
</table>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
<html>