<h1>Welcome, <%=@current_user.username%>.</h1>

<% @group_sessions.each do |group_session| %>
	<%= group_session.subject %>
	<%= group_session.schedule %>
	<%= group_session.venue %>
	<%= group_session.topic %>
	<br>
<% end %>

<%= form_tag(controller: 'sessions', :action => 'logout') do %>
	 <%= submit_tag("Log Out") %>
<% end %> 

<%= button_to 'Create new session', controller: 'group_sessions', action: 'new' %>
<%= button_to 'Delete', user_path(@current_user.id), method: :delete, data: { confirm: 'Are you sure?' } %>