<%= form_with scope: :group_session, url: group_sessions_path, local: true do |form| %>

  <h1>Create New Session</h1>

  <p>
    Subject: <br>
    <%= form.text_field :subject %>
  </p>
 
  <p>
    Date and Time: <br>
    <%= form.date_field :date %> <br>
    <% date = :date %>
    <%= form.select :hour, (1..12).to_a%>:
    <%= form.select :minute, (1..59).to_a%>
    <%= form.select :type, ['AM', 'PM']%>
    <!%= form.hidden_field :schedule, value: DateTime.new(date.year, date.month, date.day, :hour, :minute, 0) %>
  </p>

  <p>
    Venue: <br>
    <%= form.text_field :venue %>
  </p> 

  <p>
    Topic: <br>
    <%= form.text_field :topic %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back to session page', group_sessions_path %>