<!--This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2018-2019.
Author: Martina Sophia P. Casiano
Code History:
Sophia - 2/6/2019 - Added frontend for view sessions page
-->

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "group_sessions" %>
</head>

<body>

    <header>
      <%= render 'group_sessions/sidebar' %>
    </header>

    <!--MAIN-->

    <div class="wrapper">
        <div class="container centered">
            <div class="session-info">
                <table class="rows-space">
                <tr>
                <td><i class="fa fal fa-book-open"></i></td>
                <td>
                <li class="label">Subject:</li>
                <li><%= @group_session.subject %></li>
                </td>
                </tr>


                <tr>
                <td><i class="fas fa-clock"></i></td>
                <td>
                <li class="label">Schedule:</li>
                <li><%= @group_session.schedule %></li>
                </td>
                </tr>

                <tr>
                <td><i class="fas fa-building"></i></td>
                <td>
                <li class="label">Venue:</li>
                <li><%= @group_session.venue %></li>
                </td>
                </tr>

                <tr>
                <td><i class="fas fa-lightbulb"></i></td>
                <td>
                <li class="label">Topic:</li>
                <li><%= @group_session.topic %></li>
                </td>
                </tr>

                <tr>
                <td><i class="fa far fa-users"></i></td>
                <td>
                <li class="label">Members:</li>
                <% @names.each do |name| %>
                    <li>
                    <%= link_to name.firstname + " " + name.lastname, user_path(name.id) %>
                    </li>
                <% end %>
                </td>
                </tr>

                <tr>
                <td><i class="fas fa-users"></i></td>
                <td>
                <li class="label">Creator:</li>
                <% creator = User.find(@group_session.user_id)%>
                <%= link_to creator.firstname + " " + creator.lastname, user_path(@group_session.user_id) %></li>
                </td>
                </tr>

                </table>
                <%= form_with model: @group_session, local: true do |form| %>
                    <%= form.hidden_field :id, value: @group_session.id %>
                        <% if @members.where(:user_id => @current_user.id).exists? %> <!User in member list>
                          <% if @group_session.user_id != @current_user.id %> <!Owner must not be able to leave the session>
                            <div class="centered">
                            <button type="button" class="join-btn" data-toggle="modal" data-target="#leave">
                            Leave
                            </button>
                            </div>
                          <% else %>
                            <div class="centered">
                            <%= button_to 'Delete Session', group_session_path(@group_session), class: "join-btn", method: :delete, data: { confirm: 'Are you sure?' } %>
                            </div>
                          <% end %>
                        <% else %>
                            <div class="centered">
                            <button type="button" class="join-btn" data-toggle="modal" data-target="#join">
                            Join
                            </button>
                            </div>
                        <% end %>


<!-- Modal for Leave Session -->

                <div class="modal fade" id="leave" tabindex="-1" role="dialog" aria-labelledby="leaveLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="leaveLabel">Leave Session</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        <div class="modal-body">
                            Are you sure you want to leave this session?
                        </div>
                        <div class="modal-footer">
                            <%= form.submit('Leave', class: "btn btn-primary") %>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                        </div>
                    </div>
                </div>

<!-- Modal for Join Session-->

                <div class="modal fade" id="join" tabindex="-1" role="dialog" aria-labelledby="joinLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="joinLabel">Join Session</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        <div class="modal-body">
                            Are you sure you want to join this session?
                        </div>
                        <div class="modal-footer">
                            <%= form.submit('Join', class: "btn btn-primary") %>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                        </div>
                    </div>
                </div>

                <% end %>

            </div>
        </div>

    </div>





    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
