<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "users" %>
</head>

<body>

    <div class="overlay"></div>

		<!--LOGO/SMTH
		<nav class="navbar fixed-top">
				<div class="container">
					<div class="navbar-header">
						<a class="navbar-brand" href="#">logo/smth</span></a>
					</div>
				</div>
		</nav> 
		-->

    <!--MAIN CONTENT-->
    <div class="wrapper">
        <div class="container">
            <%= form_with scope: :user, url: users_path, local: true do |form| %>
                <div class="centered header-form mm">
					<img src="/assets/logo.png" class="logo">
					Mentor Matcher
				</div>
          
                <!Error printing>
                <% if @user.errors.any? %>
                    <div id="error_explanation">
                        <ul>
                            <% @user.errors.full_messages.each do |msg| %>
                                <li><%= msg %></li>
                            <% end %>
                        </ul>
                    </div>
                <% end %>
                <div class="signup">
                    <div class="centered input-field">
                    <span class="icon fa fa-user">
                    <%= form.text_field :username, type: 'username', class: 'input', placeholder: 'Username', required: true, autofocus: true %>
                    </span>
                    </div>
                    <br>
                    <div class="centered input-field">
                    <span class="icon fa fa-lock">
                    <%= form.password_field :password, type: 'password', class: 'input', placeholder: 'Password', required: true, autofocus: true %>
                    </span>
                    </div>
                    <br>
                    <div class="centered input-field">
                    <span class="icon fa fa-lock">
                    <%= form.password_field :password_confirmation, type: 'password', class: 'input', placeholder: 'Confirm Password', required: true, autofocus: true %>
                    </span>
                    </div>
                    <br>
                    <div class="centered input-field">
                    <span class="icon fa fa-info">
                    <%= form.text_field :lastname, class: 'input', placeholder: 'Last Name', required: true, autofocus: true %>
                    </span>
                    </div>
                    <br>
                    <div class="centered input-field">
                    <span class="icon fa fa-info">
                    <%= form.text_field :firstname, class: 'input', placeholder: 'First Name', required: true, autofocus: true %>
                    </span>
                    </div>
                    <br>
                    <div class="centered input-field">
                    <span class="icon fa fa-info">
                    <%= form.text_field :mi, class: 'input', placeholder: 'Middle Initial', required: true, autofocus: true %>
                    </span>
                    </div>
                    <br>
                    <div class="centered input-field">
                    <span class="icon fa fa-home">
                    <%= form.text_field :address, class: 'input', placeholder: 'Present Address', required: true, autofocus: true %>
                    </span>
                    </div>
                </div>
                <br>
                <div class="centered">
                <%= form.submit('Sign Up', class: "login-btn") %>
                </div>
            
            <% end %>

            <div class="centered" style="color:white">
				<br><br><br>
				<p>Already have an account? <a href="/sessions/login" style="font-weight:bold">Log in</a></p>
			</div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
<html>