<!--This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2018-2019.
Author: Eizer G. Relayson
Code History:
Eizer - 2/6/2019 - Added basic frontend for view reports page
Sophia - 4/4/2019 - Modified frontend for view reports page
-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "group_sessions" %>
</head>

<body>

    <header>
      <%= render 'group_sessions/sidebar' %>
    </header>

    <!--MAIN-->

    <div class="wrapper">
        <div class="container">
            <div class="title centered">User Reports</div>
            <div class="scrolly" style="width:70%;margin:auto">
                    <% @report.each do |r| %>
                        <div class="sess" style="color:white">
                        <div class="row">
                            <div class="col-lg-4" style="padding-left:0px">
                                <li>Sender: <%= User.find(r.sender).username %></li>
                                <li>Recipient: <%= User.find(r.recipient).username %></li>
                            </div>
                            <div class="col-lg-8" style="padding-right:0px">
                                <div class="btn-group" style="float:right">
                                    
                                    <%= form_with scope: :user, url: users_update_status_path, local: true do |form| %>
                                        <%= form.hidden_field :username, value: User.find(r.recipient).username %>
                                        <%= form.submit value: "Unauthenticate", class: "button",style: "font-size:15px" %>
                                    <% end %>
                                    &nbsp
                                    <%= button_to 'Delete Report', feedback_path(r.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "button",style: "font-size:15px" %>
                                    
                                </div>
                            </div>
                            <div>
                                <li>Content: <%= r.content %></li>    
                            </div>
                        </div>
                        </div>
                    <% end %>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>
