<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"> 
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "group_sessions" %>
</head>

<body>

    <header>
      <%= render 'group_sessions/sidebar' %>
    </header>

<!--MAIN-->
    <div class="wrapper">
        <div class="container">
            <div class="title centered">Feedback/Report</div>
            <div class="feedback centered">
            <%= form_for @feedback, local: true do |form| %>

              <%= form.hidden_field :sender, value: @current_user.id %>
            
              <div>
                <%= form.label :type %> <br>
                <%= form.select :t, ['Feedback', 'Report'] %>
              </div>

              <div>
                <%= form.label :recipient %> <br>
                <%= form.collection_select(:recipient, @r, :id, :username) %>
              </div>

              <div>
                <%= form.label :content %><br>
                <%= form.text_area :content, class: 'text-area' %>
              </div>
            
              <div>
                
                <%= form.submit('Submit', class: "save-button") %>
              </div>
            <% end %>
            </div>
        </div>
    </div>
</body>

</html>